
body {
	font-family: "Verdana", Geneva, sans-serif;
	font-size: 100%;
	line-height: 1.7em;
	color: #000000;
	margin: 0 auto; 
	margin-top: 80px; /* B/c of navbar */
}

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div.navbar input { 
	width: 20em;
}

#parallax {
	background: url(../images/red_wallet.jpg);
	background-attachment: fixed;
	background-position: top right;
	background-repeat: no-repeat;
	background-size: auto;
	height: 400px;

}

#parallax p {
	margin-left: 3%;
	width: 40%;
}

#parallax h2 {
	height: 35%;
}

#parallax span {
	text-decoration: none;
	color: #fc575e;
}

#parallax a.slot_animation {
	text-decoration-color: #fc575e;
}

div.slot_animation {
	margin: none;
}

div.post-parallax {
  border-top: solid black;
  padding-bottom: 3em;
  border-bottom: solid black;
  border-width: 1px;
  margin-right: 5%;
  margin-left: 5%;
}

div.post-parallax h3 {
	margin-top: 10%;
}

div.post-parallax h4,
div.image-grid h4 {
	color: #666666;
}

iframe.video-frame {
  border-width: 10px;
  border-radius: 1em;
  border-color: #336699;
}

/* Body Load Animation */

div.fade-in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    font-weight: 0%;
  }
  to {
    opacity: 1;
    font-weight: 100%;
  }
}

/*Image Grid*/
div.image-grid {
	margin: 5%;
}

div.image-grid img {
	width: 100%;
  	margin: 10px 0px;
}

/* Nav Bar*/

div.navbar {
	position: fixed;
	z-index: 1; /*Send element to top*/
	top: 0; 
	left: 0;
	right: 0;
	background-color: #336699;
	font-size: .85em;
	height: 80px;
}

div.navbar a,
div.navbar form {
	display: inline;
	color: #ffffff;
	text-decoration: none;
}

div.navbar form {
	position: absolute;
	right: 0;
	top: .8em;
}

div.navbar img {
	width: 150px;
}


/* Nav Link Underline Effect */ 

span.selected_effect{
  font-weight: bold;
}

div.navbar a.underline_effect,
div.navbar a.underline_effect:after,
div.navbar a.underline_effect:before {
  transition: all .5s;
}

div.navbar a.underline_effect{
  text-decoration: none;
  font-weight: 300;
  font-size: 1.15em;
}

div.navbar a.underline_effect{
  position: relative;
}
div.navbar a.underline_effect:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #ffffff;
  height: 1px;
}

div.navbar a.underline_effect:hover:after {
  width: 85%;
}

/* Logo Effect */
div.navbar img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	filter: blur(0px);
}
div.navbar:hover img {
	opacity: .5;
	filter: blur(1px);
}

/* Footer */

div.footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;

	padding: 0;
	text-align: center;
	background-color: #336699;
	height: 60px;
	padding-top: 15px;
	padding-left: 4em;
	color: white;
}

div.footer img {
	width: 30px;
	padding-bottom: 3px; 
}

div.social {
	display: inline;
	padding-right: 4em;
	float: right;
}

div.footer a {
	text-decoration: none;
	color: #d3d3d3;
}

div.footer a:hover {
	color: white;
}




